* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


/* MENU */

header {
  width: 100%;
  min-width: 350px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0f0f0f;
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  /* Centraliza o conteúdo */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  color: #fff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  font-weight: bold;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 8px 12px;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  color: #ff6900;
}

.whatsapp-link {
  border: 3px solid #ff6900;
  /* Borda laranja de 3px */
  border-radius: 5px;
  /* Arredondamento opcional */
}

/* Cor de fundo ao passar o mouse no link "WhatsApp" */
.whatsapp-link:hover {
  color: #fff;
}


/* HERO SECTION */

.herosection {
  width: 100%;
  height: 600px;
  position: relative;
  /* Para posicionar elementos sobre o vídeo */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin-top: 80px;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  /* Fica atrás dos outros elementos */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.6755952380952381) 30%, rgba(0,212,255,0) 100%);
  z-index: 2;
  /* Fica sobre o vídeo, mas atrás do texto */
}

.insideherosection {
  margin-top: 200px;
  position: relative;
  width: 80%;
  max-width: 1200px;
  z-index: 3;
  /* Fica acima do vídeo e da sobreposição */
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* Centraliza o texto verticalmente */
  text-align: left;
  color: #fff;
}

.thehero h1 {
  font-size: 45px;
  margin-bottom: 10px;
}

.thehero p {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  margin-top: 5px;
  line-height: 1;
  margin-bottom: 0.625rem; /* 10px em rem */
  font-weight: 100; /* Roboto Thin */
}


/* ENFASE */

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 40px 0;
}

.insidesection {
  width: 80%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Permite que os boxes se movam para a linha seguinte em telas menores */
}

@media (max-width: 900px) {
  .insidesection {
    flex-direction: column; /* Altera a direção do layout para coluna */
    align-items: center; /* Centraliza os itens na coluna */
    flex-wrap: nowrap;
  }

  /* Ajuste para os elementos internos ocuparem a largura total */
  .insidesection > * {
    width: 100%; /* Garante que cada elemento ocupe 100% da largura */
    margin-bottom: 20px; /* Espaçamento entre os elementos na coluna */
  }
}

.text-box {
  flex: 0 0 30%; /* Define o texto para ocupar 30% */
  color: #333;
}

.text-box h2 {
  font-family: 'Roboto', sans-serif;
  /* Define a fonte Roboto */
  font-size: 2.8125rem; /* 45px em rem (45 / 16 = 2.8125) */
  line-height: 1;
  margin-bottom: 0.625rem; /* 10px em rem */
  font-weight: 100; /* Roboto Thin */
}

.text-box h2 strong {
  color: #000000;
  font-weight: bold;
}

.text-box p {
  font-family: 'Roboto';
  /* Define a fonte Roboto Thin */
  font-size: 1.25rem; /* 20px em rem (20 / 16 = 1.25) */
  color: #666;
  margin-bottom: 1.25rem; /* 20px em rem */
  font-weight: 300;
}

.btn {
  display: inline-block;
  padding: 0.625rem 1.25rem; /* 10px 20px em rem */
  background-color: transparent;
  color: #ff6900;
  border: 0.125rem solid #ff6900; /* 2px em rem */
  border-radius: 0.3125rem; /* 5px em rem */
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #ff6900;
  color: #fff;
}

.image-box {
  flex: 0 0 70%; /* Define a imagem para ocupar 70% */
  text-align: right;
}

.image-box img {
  max-width: 100%;
  height: auto;
}
}

.modelosection {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 40px 0;
}

.insidemodelosection {
  width: 80%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* Permite que os boxes se movam para a linha seguinte em telas menores */
}

.tabela {
  max-width: 100%;
  height: auto;
}

.video {
  max-width: 100%;
  height: auto;
}


/* MÁQUINAS LASER E PLASMA */

.modelos {
  width: 100%;
  min-width: 350px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  /* Cor de fundo para destaque */
  padding: 20px 0;
  /* Espaço vertical da section */
  flex-direction: column;
  /* Alinha o título e os boxes em coluna */
  align-items: center;
  /* Centraliza o conteúdo da seção */
}

.modelos h2 {
  text-align: center;
  /* Centraliza o título */
  font-size: 35px;
  /* Tamanho do título */
  font-weight: 100;
  /* Deixa o título em negrito */
  margin-bottom: 80px;
  /* Espaço abaixo do título */
  color: #333;
  /* Cor do título */
}

.laser {
  width: 80%;
  /* Ajuste conforme necessário */
  max-width: 1200px;
  /* Limite de largura máxima */
  display: flex;
  justify-content: space-evenly;
  /* Centraliza os boxes horizontalmente */
  align-items: center;
  /* Alinha os boxes verticalmente */
  gap: 20px;
  /* Adiciona espaço entre os boxes */
  flex-wrap: wrap;
  /* Permite que os boxes se movam para a linha seguinte em telas menores */
  margin-bottom: 50px;
  /* Espaço abaixo do título */
}

.box {
  background-color: #ffffff;
  /* Cor de fundo dos boxes */
  padding: 40px;
  color: #000000;
  text-align: center;
  border-radius: 8px;
  /* Cantos arredondados */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  /* Sombra */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 250px;
  /* Garante que os boxes tenham uma largura mínima */
  max-width: 350px;
  /* Limita a largura máxima dos boxes */
  height: 100%;
  /* Garante que a altura do box seja aproveitada */
}

.box img {
  width: 100%;
  height: 200px;
  object-fit:contain;
  border-radius: 4px;
  margin-bottom: 15px;
}

.box h3 {
  font-weight: 100;
  margin: 10px 0;
  font-size: 1.2em;
  flex-shrink: 0;
  /* Impede que o título encolha */
  height: 40px;
  /* Altura fixa para o título */
}

.box button {
  width: 150px;
  padding: 10px 20px;
  background-color: transparent;
  color: #ff6900;
  border: 2px solid #ff6900;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
  align-self: center;
  /* Centraliza o botão horizontalmente */
}

.box button:hover {
  background-color: #ff6900;
  color: #fff;
}


/* FORMULÁRIO DE CONTATO */

.formsection {
  width: 100%;
  min-width: 350px;
  display: flex;
  justify-content: center;
  background-color: #0f0f0f;
  /* Cor de fundo para destaque */
  padding: 20px 0;
  /* Espaço vertical da section */
}

.insideformsection {
  width: 80%;
  /* Ajuste conforme necessário */
  max-width: 1200px;
  /* Limite de largura máxima */
  display: flex;
  justify-content: center;
  /* Centraliza o formulário */
}

.form {
  width: 80%;
  background-color: transparent;
  /* Cor de fundo do formulário */
  color: #fff;
  text-align: left;
  padding: 20px;
  border-radius: 8px;
  /* Bordas arredondadas */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* Sombra suave para destaque */
  display: flex;
  flex-direction: column;
  /* Organiza os elementos do formulário verticalmente */
  align-items: center;
  /* Centraliza todos os itens dentro do formulário */
}

form h3 {
  text-align: center;
  margin-top: 0;
  font-size: 30px;
}

form p {
  text-align: center;
  margin-top: 0;
  font-size: 20px;
  font-weight: 100;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
  /* Garante que as form-group ocupam a largura total */
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  border: #ff6900 solid 2px;
  background: transparent;
  color: #fff;
  transition: all 0.3s ease;
  /* Transição suave */
}

/* Definir estilo para o placeholder */
input::placeholder,
textarea::placeholder {
  color: #bbb;
  /* Cor do texto do placeholder */
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
  /* Quando o campo está em foco, o placeholder fica invisível */
}

textarea {
  resize: vertical;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  /* Garante que a row ocupe a largura total */
}

.row .form-group {
  flex: 1;
}

button {
  width: 150px;
  padding: 10px 20px;
  background-color: transparent;
  color: #ff6900;
  border: 2px solid #ff6900;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-top: 20px;
  /* Adiciona um espaço acima do botão */
}

button:hover {
  background-color: #ff6900;
  color: #fff;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
    /* Empilha os campos em telas menores */
    gap: 10px;
  }

  .row .form-group {
    width: 100%;
  }

  .form {
    align-items: stretch;
    /* Garante que o formulário ocupe toda a largura disponível em telas pequenas */
  }

  button {
    width: 100%;
    /* Faz o botão ocupar a largura total em telas pequenas */
  }
}

/* CLIENTES */

.clientsection {
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-color: #ffffff;
  /* Fundo branco para contraste */
  display: flex;
  justify-content: center;
  align-items: center;
}

.insideslider {
  width: 100%;
  max-width: 1200px;
  /* Limita a largura máxima a 1200px */
  display: flex;
  overflow: hidden;
}

.slider {
  display: flex;
  animation: scroll 15s linear infinite;
}

.slider img {
  height: 50px;
  margin: 0 20px;
  /* Espaçamento entre logos */
  object-fit: contain;
}

/* Animação para rolar os logos */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}



/* FOOTER */
.footersection {
  width: 100%;
  min-width: 350px;
  display: flex;
  justify-content: center;
  background-color: #0f0f0f;
  /* Cor de fundo para destaque */
  padding: 20px 0;
  /* Espaço vertical da section */
}

.insidefootersection {
  width: 80%;
  /* Ajuste conforme necessário */
  max-width: 1200px;
  /* Limite de largura máxima */
  display: flex;
  justify-content: space-between;
  /* Espaça os boxes uniformemente */
}

.footer {
  flex: 1;
  background-color: transparent;
  /* Cor de fundo dos boxes */
  margin: 0;
  /* Espaço entre os boxes */
  color: #fff;
  text-align: left;
  padding: 20px;
}
